# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Accessing our database
Create a connection to access the sakila database with the ip, user and password provided in class. Take a look at the data. Do some joins in order to have more elaborated tables in a dataframe (you can try first the query in the DBMS and then use it in your notebook).

In [3]:
# your code here
import pymysql
import pandas as pd
from sqlalchemy import create_engine

driver   = 'mysql+pymysql:'
user     = 'data-students' 
password = 'iR0nH@cK-D4T4B4S3'
ip       = '34.65.10.136' 
database = 'sakila' 

connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)

stalker_sql = '''
SELECT c.customer_id, first_name, last_name, address, address2, district, postal_code, city
FROM customer AS c
JOIN address AS a ON c.address_id = a.address_id
JOIN city AS ci ON a.city_id = ci.city_id;
'''
actors_career_sql = '''
SELECT first_name, last_name, title 
FROM actor AS a
JOIN film_actor AS fa ON a.actor_id = fa.actor_id
JOIN film AS f ON fa.film_id = f.film_id
GROUP BY fa.actor_id, fa.film_id;
'''

stalker_df = pd.read_sql(stalker_sql, engine)
actors_career_df = pd.read_sql(actors_career_sql, engine)

print(stalker_df)
print('')
print(actors_career_df)

     customer_id first_name  last_name                   address address2  \
0              1       MARY      SMITH            1913 Hanoi Way
1              2   PATRICIA    JOHNSON          1121 Loja Avenue
2              3      LINDA   WILLIAMS         692 Joliet Street
3              4    BARBARA      JONES          1566 Inegl Manor
4              5  ELIZABETH      BROWN           53 Idfu Parkway
..           ...        ...        ...                       ...      ...
594          595   TERRENCE  GUNDERSON       844 Bucuresti Place
595          596    ENRIQUE   FORSYTHE  1101 Bucuresti Boulevard
596          597    FREDDIE     DUGGAN    1103 Quilmes Boulevard
597          598       WADE   DELVALLE       1331 Usak Boulevard
598          599     AUSTIN    CINTRON      1325 Fukuyama Street

         district postal_code            city
0        Nagasaki       35200          Sasebo
1      California       17886  San Bernardino
2          Attika       83579         Athenai
3        Mandalay       53561        Myingyan
4          Nantou       42399          Nantou
..            ...         ...             ...
594      Liaoning       36603         Jinzhou
595   West Greece       97661          Patras
596         Piura       52137         Sullana
597          Vaud       61960        Lausanne
598  Heilongjiang       27107           Tieli

[599 rows x 8 columns]

     first_name last_name                  title
0      PENELOPE   GUINESS       ACADEMY DINOSAUR
1      PENELOPE   GUINESS   ANACONDA CONFESSIONS
2      PENELOPE   GUINESS            ANGELS LIFE
3      PENELOPE   GUINESS  BULWORTH COMMANDMENTS
4      PENELOPE   GUINESS          CHEAPER CLYDE
...         ...       ...                    ...
5457      THORA    TEMPLE       TELEGRAPH VOYAGE
5458      THORA    TEMPLE        TROJAN TOMORROW
5459      THORA    TEMPLE        VIRGINIAN PLUTO
5460      THORA    TEMPLE       WARDROBE PHANTOM
5461      THORA    TEMPLE         WRONG BEHAVIOR

[5462 rows x 3 columns]

# Challenge 2 - Working with JSON files

Import the pandas library.

In [ ]:
# your code here
import pandas as pd

In the next cell, load the data in `nasa.json` in the `data` folder and load it into a pandas dataframe. Name the dataframe `nasa`.

In [ ]:
# your code here
path = 'C:/Users/miner/Desktop/Ironhack/week2/lab-import-export/data/'
file_name = 'nasa.json'
nasa = pd.read_json(f'{path}{file_name}', orient = 'records')

Now that we have loaded the data, let's examine it using the `head()` function.

In [ ]:
# your code here
nasa.head()

#### The `value_counts()` function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the `value_counts()` function to determine the frequency of all types of asteroid landings by applying the function to the `fall` column.

In [ ]:
# your code here
nasa.fall.value_counts()

Finally, let's save the dataframe as a json file again. Save the dataframe using the `orient=records` argument and name the file `nasa-output.json`. Remember to save the file inside the `data` folder.

In [ ]:
# your code here
file_json_out = 'nasa-output.json'
nasa.to_json(f'{path}{file_json_out}', orient = 'records')

# Challenge 2 - Working with CSV and Other Separated Files

CSV files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a CSV file into a dataframe directly from a URL without having to load the file first and then transform it. The dataset we will be using contains information about NASA shuttles.

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [ ]:
cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [ ]:
# your code here
shuttle = pd.read_csv(tst_url, sep = ' ', names = cols)

Let's verify that this worked by looking at the `head()` function.

In [ ]:
# your code here
shuttle.head()

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated, that we are not saving the index column and that the file is saved inside the `data` folder.

In [ ]:
# your code here
file_csv_out = 'shuttle.csv'
nasa.to_csv(f'{path}{file_csv_out}', sep = ',', index=False)

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the `data` folder. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [ ]:
# your code here
file_name = 'astronauts.xls'
astronaut = pd.read_excel(f'{path}{file_name}')

Use the `head()` function to inspect the dataframe.

In [ ]:
# your code here
astronaut.head()

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [ ]:
# your code here

astronaut['Undergraduate Major'].value_counts()

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a **tab separated file** using the `to_csv` function. Call the file `astronaut.csv`. Remember to remove the index column and save the file in the `data` folder.

In [ ]:
# your code here
file_xls_out = 'astronaut.csv'
astronaut.to_csv(f'{path}{file_xls_out}', sep = '\t', index=False)

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function. 

Look in Google for a way to retrieve this data!

In [ ]:
# your code here